@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: 'Poppins', system-ui, sans-serif;
  color: #13151a;
  scroll-behavior: smooth;
}
.hr-div {
  height: 1px;
  width: 100%;
}
#desc-label,
#price-label {
  color: white;
}
.css-xoxfz9 {
  margin-bottom: 5px;
}

@media (min-width: 767px) {
  .imgCall {
    max-width: 100%;
    height: 400px;
  }
  .container-call-to-action {
    border-radius: 10px;
  }
  #zoid-paypal-buttons-uid_69c4129051_mda6mda6ndy {
    width: 250px !important;
  }
  .css-xoxfz9 {
    margin-bottom: 5px !important;
  }
}
